<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FishingWear - Resetowanie hasła</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link
      rel="stylesheet"
      th:href="@{/libs/bootstrap/bootstrap.min.css}"
      href="../../static/libs/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../../static/css/style.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/slider.css}"
      href="../../static/css/slider.css"
    />

    <style>
      



    </style>
  </head>
  <body style="background-color: var(--color-neutral-light)">
  <nav th:insert="~{fragments/nav :: nav}"></nav>

    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5">
          <div class="card login-card p-4 p-md-5">
            <div class="text-center mb-4">
              <i class="fa-solid fa-key reset-icon"></i>
            </div>
            <h2 class="h3 fw-bold mb-3 text-center">Zapomniałeś hasła?</h2>
            <p class="text-secondary text-center mb-4">
              Żaden problem. Wprowadź swój adres e-mail, a my wyślemy Ci link
              do zresetowania hasła.
            </p>

            <form th:action="@{/forgot-password}" action="#" method="post">
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="name@example.com"
                  required
                />
                <label for="email">Adres e-mail</label>
              </div>

              <button
                type="submit"
                class="btn btn-primary-custom w-100 btn-lg mt-3"
              >
                Wyślij link
              </button>
            </form>
              <p th:text="${message}" style="color:green"></p>
              <p th:text="${error}" style="color:red"></p>

            <p class="text-center text-secondary mt-4 mb-0">
              Pamiętasz już hasło?
              <a th:href="@{/logowanie}" href="#" class="btn-link-custom">Wróć do logowania</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  <footer th:insert="~{fragments/footer :: footer}"></footer>

    <script
      th:src="@{/libs/bootstrap/bootstrap.bundle.min.js}"
      src="../static/libs/bootstrap/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>