<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FishingWear - Panel Admina - Użytkownicy</title>
      <th:block th:insert="fragments/head-styles :: theme-styles" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link
      rel="stylesheet"
      th:href="@{/libs/bootstrap/bootstrap.min.css}"
      href="../../static/libs/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../../static/css/style.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/slider.css}"
      href="../../static/css/slider.css"
    />

  </head>
  <body style="background-color: var(--color-neutral-light)">
  <nav th:insert="~{fragments/nav :: nav}"></nav>

    <div class="container my-5">
      <div class="row g-4">

          <div class="col-lg-4">
              <div th:replace="fragments/admin-sidebar :: adminSidebar('user-manage')"></div>
          </div>

        <div class="col-lg-8">
          <h2 class="h3 mb-4">Zarządzanie Użytkownikami</h2>

          <div class="account-card p-4 p-md-5">
              <div th:if="${param.editSuccess}" class="alert alert-success alert-dismissible fade show" role="alert">
                  Uzytkownik został edytowany pomyślnie.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Zamknij"></button>
              </div>
              <div th:if="${param.editError}" class="alert alert-success alert-dismissible fade show" role="alert">
                  Wystąpił błąd podczas edycji.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Zamknij"></button>
              </div>
              <div th:if="${param.deleteSuccess}" class="alert alert-success">
                  Użytkownik usunięty pomyślnie.
              </div>

              <div th:if="${param.deleteError}" class="alert alert-danger">
                  Nie udało się usunąć użytkownika.
              </div>
              <form method="get" th:action="@{/admin/uzytkownicy}" class="input-group mb-4">
                  <input type="text" class="form-control" name="search"
                         th:value="${search}"
                         placeholder="Szukaj użytkownika (email, nazwa)...">
                  <button class="btn btn-primary-custom" type="submit">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
              </form>
            
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Użytkownik</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rola</th>
                    <th scope="col">Status</th>
                    <th scope="col">Akcje</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr th:each="user: ${users.content}">
                    <td class="fw-bold" th:text="${user.firstName} + ' ' + ${user.lastName}" >test</td>
                    <td th:text="${user.email}">jan.kowalski@admin.pl</td>
                    <td>
                      <span class="badge badge-role badge-role-admin" th:text="${user.role}">tt</span>
                    </td>
                    <td>
                      <span class="badge badge-status completed" th:if="${user.enabled}">Aktywny</span>
                      <span class="badge badge-status bg-secondary" th:if="!${user.enabled}">Nieaktywny</span>
                    </td>
                    <td>
                        <button class="btn-link-custom"
                                data-bs-toggle="modal"
                                data-bs-target="#editUserModal"
                                th:if="${user.id != 1}"
                                th:attr="data-id=${user.id},
                 data-firstname=${user.firstName},
                 data-lastname=${user.lastName},
                 data-email=${user.email},
                 data-role=${user.role}">
                            Edytuj
                        </button>
                        <button class="btn btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteUserModal"
                                th:attr="data-user-id=${user.id}"
                                th:if="${user.id != 1}">
                            <i class="fa-solid fa-trash text-danger"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

              <nav aria-label="Nawigacja po użytkownikach" class="mt-4 d-flex justify-content-center">
                  <ul class="pagination">

                      <li class="page-item" th:classappend="${users.hasPrevious()} ? '' : 'disabled'">
                          <a class="page-link"
                             th:href="@{/admin/uzytkownicy(page=${currentPage - 1}, size=${users.size}, search=${search})}">
                              Poprzednia
                          </a>
                      </li>

                      <li class="page-item"
                          th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}"
                          th:classappend="${i == currentPage} ? 'active'">
                          <a class="page-link"
                             th:text="${i + 1}"
                             th:href="@{/admin/uzytkownicy(page=${i}, size=${users.size}, search=${search})}">
                          </a>
                      </li>

                      <li class="page-item" th:classappend="${users.hasNext()} ? '' : 'disabled'">
                          <a class="page-link"
                             th:href="@{/admin/uzytkownicy(page=${currentPage + 1}, size=${users.size}, search=${search})}">

                              Następna
                          </a>
                      </li>

                  </ul>
              </nav>



          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 1rem; border: none;">
            <form method="post" th:action="@{/admin/uzytkownicy/update}">
                <input type="hidden" name="id" id="modalUserId">

                <div class="modal-header" style="border-bottom: none;">
                    <h5 class="modal-title">Edytuj użytkownika</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body p-4">

                    <div class="mb-3">
                        <label class="form-label">Imię</label>
                        <input type="text" class="form-control" name="firstName" id="modalUserFirstName">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nazwisko</label>
                        <input type="text" class="form-control" name="lastName" id="modalUserLastName">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" id="modalUserEmail">
                    </div>

                    <hr class="my-4">

                    <div class="mb-3">
                        <label class="form-label fw-bold">Zmień rolę</label>
                        <select class="form-select" name="role" id="modalUserRole">
                            <option value="USER">Użytkownik</option>
                            <option value="MOD">Moderator</option>
                            <option value="ADMIN">Administrator</option>
                        </select>
                    </div>

                </div>

                <div class="modal-footer" style="border-top: none;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary-custom">Zapisz zmiany</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <form method="post" th:action="@{/admin/uzytkownicy/usun}">
                  <input type="hidden" name="id" id="deleteUserId">

                  <div class="modal-header">
                      <h5 class="modal-title" id="deleteUserModalLabel">Usuń użytkownika</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <div class="modal-body">
                      Czy na pewno chcesz usunąć tego użytkownika? Tej operacji nie można cofnąć.
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                      <button type="submit" class="btn btn-danger">Usuń</button>
                  </div>

              </form>

          </div>
      </div>
  </div>

  <footer th:insert="~{fragments/footer :: footer}"></footer>

    <script
      th:src="@{/libs/bootstrap/bootstrap.bundle.min.js}"
      src="../../static/libs/bootstrap/bootstrap.bundle.min.js"
    ></script>

  <script>
      document.addEventListener("DOMContentLoaded", function () {

          const editUserModal = document.getElementById('editUserModal');

          editUserModal.addEventListener('show.bs.modal', function (event) {
              const button = event.relatedTarget;

              const id = button.getAttribute('data-id');
              const firstName = button.getAttribute('data-firstname');
              const lastName = button.getAttribute('data-lastname');
              const email = button.getAttribute('data-email');
              const role = button.getAttribute('data-role');

              document.getElementById('modalUserId').value = id;
              document.getElementById('modalUserFirstName').value = firstName;
              document.getElementById('modalUserLastName').value = lastName;
              document.getElementById('modalUserEmail').value = email;
              document.getElementById('modalUserRole').value = role;
          });
      });
  </script>
  <script>
      document.addEventListener("DOMContentLoaded", function () {
          const deleteModal = document.getElementById('deleteUserModal');

          deleteModal.addEventListener('show.bs.modal', function (event) {
              const button = event.relatedTarget;
              const userId = button.getAttribute('data-user-id');

              document.getElementById('deleteUserId').value = userId;
          });
      });
  </script>


  </body>
</html>