<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FishingWear - Moje dane i adresy</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link
      rel="stylesheet"
      th:href="@{/libs/bootstrap/bootstrap.min.css}"
      href="../../static/libs/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../../static/css/style.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/slider.css}"
      href="../../static/css/slider.css"
    />

  </head>
  <body style="background-color: var(--color-neutral-light)">
    <nav th:insert="~{fragments/nav :: nav}"></nav>

    <div class="container my-5">
      <div class="row g-4">

          <div th:replace="fragments/user-sidebar :: accountSidebar('data')"></div>

        <div class="col-lg-8">
          <h2 class="h3 mb-4">Moje dane i adresy</h2>

          <div class="account-card p-4 p-md-5 mb-4">
            <h3 class="h5 mb-4">Dane osobowe</h3>
            <form class="row g-3">
              <div class="col-md-6 form-floating">
                <input type="text" class="form-control" id="firstName" placeholder="Imię" value="Jan">
                <label for="firstName" class="ms-2">Imię</label>
              </div>
              <div class="col-md-6 form-floating">
                <input type="text" class="form-control" id="lastName" placeholder="Nazwisko" value="Kowalski">
                <label for="lastName" class="ms-2">Nazwisko</label>
              </div>
              <div class="col-12 form-floating">
                <input type="email" class="form-control" id="email" placeholder="E-mail" value="jan.kowalski@example.com">
                <label for="email" class="ms-2">E-mail</label>
              </div>
              <div class="col-12 form-floating">
                <input type="tel" class="form-control" id="phone" placeholder="Telefon" value="123 456 789">
                <label for="phone" class="ms-2">Telefon</label>
              </div>
              <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary-custom">Zapisz zmiany</button>
              </div>
            </form>
          </div>
          
          <div class="account-card p-4 p-md-5">
            <h3 class="h5 mb-4">Zarządzaj adresami</h3>
            <div class="row g-3">
              <div class="col-md-6">
                <div class="address-block">
                  <h6>Adres rozliczeniowy</h6>
                  <p>
                    Jan Kowalski<br>
                    ul. Przykładowa 123<br>
                    00-001 Miasto
                  </p>
                  <div>
                    <a href="#" class="btn-link-custom me-3"><i class="fa-solid fa-pen-to-square me-1"></i>Edytuj</a>
                    <a href="#" class="btn-link-custom text-danger"><i class="fa-solid fa-trash-can me-1"></i>Usuń</a>
                  </div>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="address-block">
                  <h6>Adres wysyłkowy</h6>
                  <p>
                    Jan Kowalski<br>
                    Paczkomat INP01A<br>
                    ul. Dworcowa 1, 00-001 Miasto
                  </p>
                  <div>
                    <a href="#" class="btn-link-custom me-3"><i class="fa-solid fa-pen-to-square me-1"></i>Edytuj</a>
                    <a href="#" class="btn-link-custom text-danger"><i class="fa-solid fa-trash-can me-1"></i>Usuń</a>
                  </div>
                </div>
              </div>
            </div>
            
            <a href="#" class="btn btn-primary-custom mt-4">
              <i class="fa-solid fa-plus me-2"></i>Dodaj nowy adres
            </a>
          </div>

        </div>
      </div>
    </div>

    <footer th:insert="~{fragments/footer :: footer}"></footer>

    <script
      th:src="@{/libs/bootstrap/bootstrap.bundle.min.js}"
      src="../static/libs/bootstrap/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>