<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FishingWear - Historia zamówień</title>
      <th:block th:insert="fragments/head-styles :: theme-styles" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link
      rel="stylesheet"
      th:href="@{/libs/bootstrap/bootstrap.min.css}"
      href="../../static/libs/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../../static/css/style.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/slider.css}"
      href="../../static/css/slider.css"
    />

    <style>
      

    </style>
  </head>
  <body style="background-color: var(--color-neutral-light)">
    <nav th:insert="~{fragments/nav :: nav}"></nav>

    <div class="container my-5 min-vh-100">
      <div class="row g-4">

          <div th:replace="fragments/user-sidebar :: accountSidebar('orders')"></div>

        <div class="col-lg-8">
          <h2 class="h3 mb-4">Historia zamówień</h2>
            <div class="accordion" id="orderHistoryAccordion">
                <div th:each="order, iStat : ${orders}" class="accordion-item">

                    <h2 class="accordion-header" th:id="'heading' + ${iStat.index}">
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                th:data-bs-target="'#collapse' + ${iStat.index}"
                                aria-expanded="false"
                                th:aria-controls="'collapse' + ${iStat.index}">

                            <div class="d-flex flex-wrap w-100 justify-content-between align-items-center pe-3">
                                <div>
                        <span class="fw-bold d-block">
                            Zamówienie #<span th:text="${order.orderId}"></span>
                        </span>
                                    <span class="small text-secondary"
                                          th:text="${#temporals.format(order.createdAt, 'dd.MM.yyyy')}"></span>
                                </div>

                                <span class="badge badge-status my-2"
                                      th:classappend="${order.status} == 'COMPLETED' ? 'completed' : 'pending'">
                        <span th:text="${order.status}"></span>

                    </span>

                                <span class="fw-bold h5 mb-0" style="color: var(--color-primary);"
                                      th:text="${order.total} + ' zł'"></span>
                            </div>

                        </button>
                    </h2>

                    <div th:id="'collapse' + ${iStat.index}"
                         class="accordion-collapse collapse"
                         th:aria-labelledby="'heading' + ${iStat.index}"
                         data-bs-parent="#orderHistoryAccordion">

                        <div class="accordion-body">
                            <a th:href="@{/orders/{id}(id=${order.orderId})}" class="btn-link-custom">
                                Zobacz szczegóły zamówienia
                            </a>
                        </div>
                    </div>
                </div>
            </div>







          </div>
        </div>
      </div>

    <footer th:insert="~{fragments/footer :: footer}"></footer>

    <script
      th:src="@{/libs/bootstrap/bootstrap.bundle.min.js}"
      src="../../static/libs/bootstrap/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>