<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FishingWear - Twój koszyk</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link
      rel="stylesheet"
      th:href="@{/libs/bootstrap/bootstrap.min.css}"
      href="../../static/libs/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../../static/css/style.css"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/slider.css}"
      href="../../static/css/slider.css"
    />

  </head>
  <body style="background-color: var(--color-neutral-light)">
    <nav th:insert="~{fragments/nav :: nav}"></nav>

    <div class="container my-5">
      <div class="row g-4">
        <div class="col-lg-8">
          <div class="cart-card p-4">
            <h2 class="h4 mb-4">Twój koszyk (2 produkty)</h2>

            <div class="row g-3 align-items-center py-1">
              <div class="col-lg-2 col-md-3 col-4">
                <img src="../../static/images/products/dresy.png" alt="Spodnie dresowe" class="cart-item-img">
              </div>
              <div class="col-lg-4 col-md-5 col-8">
                <a href="#" class="cart-item-title">Spodnie dresowe super premium</a>
                <p class="cart-item-details mb-0">Rozmiar: XL, Kolor: Grafitowy</p>
              </div>
              <div class="col-lg-2 col-md-2 col-5">
                <div class="input-group quantity-selector" style="width: 130px;">
                    <button class="btn btn-outline-secondary" type="button">-</button>
                    <input type="text" class="form-control" value="1">
                    <button class="btn btn-outline-secondary" type="button">+</button>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-4">
                <span class="cart-item-price">199,99 zł</span>
              </div>
              <div class="col-lg-2 col-md-0 col-3 text-end">
                <a href="#" class="btn btn-remove" data-bs-toggle="tooltip" title="Usuń z koszyka">
                  <i class="fa-solid fa-trash-can"></i>
                </a>
              </div>
              <hr classm="">
            </div>
        

            <div class="row g-3 align-items-center py-1">
              <div class="col-lg-2 col-md-3 col-4">
                <img src="../../static/images/products/tshirt.png" alt="Koszulka" class="cart-item-img">
              </div>
              <div class="col-lg-4 col-md-5 col-8">
                <a href="#" class="cart-item-title">Koszulka na krótki rękaw</a>
                <p class="cart-item-details mb-0">Rozmiar: L, Kolor: Oliwkowy</p>
              </div>
              <div class="col-lg-2 col-md-2 col-5">
                <div class="input-group quantity-selector" style="width: 130px;">
                    <button class="btn btn-outline-secondary" type="button">-</button>
                    <input type="text" class="form-control" value="2">
                    <button class="btn btn-outline-secondary" type="button">+</button>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-4">
                <span class="cart-item-price">99,99 zł</span>
              </div>
              <div class="col-lg-2 col-md-0 col-3 text-end">
                <a href="#" class="btn btn-remove" data-bs-toggle="tooltip" title="Usuń z koszyka">
                  <i class="fa-solid fa-trash-can"></i>
                </a>
              </div>
              <hr classm="">
            </div>
            <div class="text-end mt-3">
              <a href="#" class="btn-link-custom">
                <i class="fa-solid fa-arrow-left me-2"></i> Kontynuuj zakupy
              </a>
            </div>
          </div>
          
        </div>

        <div class="col-lg-4">
          <div class="cart-card p-4">
            <h3 class="h5 mb-4">Podsumowanie zamówienia</h3>

            <div class="d-flex justify-content-between mb-2">
              <span class="text-secondary">Suma produktów:</span>
              <span class="fw-bold">399,97 zł</span>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span class="text-secondary">Szacowana dostawa:</span>
              <span class="fw-bold">Darmowa</span>
            </div>

            <hr>

            <div class="d-flex justify-content-between summary-total mb-4">
              <span>Łącznie (z VAT):</span>
              <span>399,97 zł</span>
            </div>

            <a href="#" class="btn btn-primary-custom btn-lg w-100">
              Przejdź do kasy
              <i class="fa-solid fa-arrow-right ms-2"></i>
            </a>

            
          </div>
        </div>
      </div>
    </div>

    <footer th:insert="~{fragments/footer :: footer}"></footer>

    <script
      th:src="@{/libs/bootstrap/bootstrap.bundle.min.js}"
      src="../../static/libs/bootstrap/bootstrap.bundle.min.js"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        });

      });
    </script>
  </body>
</html>